/*
 * ----------------------------------------------------
 *  Based on nf-core/fastqcat Nextflow base config file
 * ----------------------------------------------------
 */

executor = "pbspro"

process {

  cpus = 1
  memory = 4.GB
  time = 4.h
}

params {
  // Defaults only, expecting to be overwritten
  max_memory = 1024.GB
  max_cpus = 32
  max_time = 24.h
}
